<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Triangle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clean responsive bootstrap website template">
    <meta name="author" content="">
    <!-- styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="/css/flexslider.css" rel="stylesheet">
    <link href="/css/refineslide.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <!-- <link href="/css/all.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/color/default.css" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

    <!-- =======================================================
    Theme Name: Plato
    Theme URL: https://bootstrapmade.com/plato-responsive-bootstrap-website-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
    <header>
        <!-- Navbar
    ================================================== -->
        <div class="cbp-af-header">
            <div class=" cbp-af-inner">
                <div class="container">
                    <div class="row">

                        <div class="span4">
                            <!-- logo -->
                            <div class="logo">
                                <h1><a href="index"></a></h1>
                                <img src="/img/logo.png" alt="" />
                            </div>
                            <!-- end logo -->
                        </div>

                        <div class="span8">
                            <!-- top menu -->
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <nav>
                                        <ul class="nav topnav">
                                            <li class="dropdown active">
                                                <a href="/">Home</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Domaines</a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown"><a href="#">Informatique</a>
                                                        <ul class="dropdown-menu sub-menu">
                                                            <li><a href="#">Conseil</a></li>
                                                            <li><a href="#">Formation</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown"><a href="#">Finance</a>
                                                        <ul class="dropdown-menu sub-menu">
                                                            <li><a href="#">Conseil</a></li>
                                                            <li><a href="#">Formation</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown"><a href="#">Commerce</a>
                                                        <ul class="dropdown-menu sub-menu">
                                                            <li><a href="#">Conseil</a></li>
                                                            <li><a href="#">Formation</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="contact">Nous contactez</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- end menu -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="intro">

        <div class="container">
            <div class="row">
                <div class="span6">
                    <h2><strong>Triangle <span class="highlight primary">Advices</span></strong></h2>
                    <p class="lead">
                        La disponibilité permanente de nos experts , ainsi que leur expérience éprouvée leur
                        permettent de répondre à l’ensemble des questions touchant à tous les domaines de l'ingenierie,
                        la finance
                        et le commerce.
                    </p>
                    <ul class="list list-ok strong bigger">
                        <li>Conseil et assistance fiscale et sociale</li>
                        <li>Assistance à vérification fiscale</li>
                        <li>Formation Professionnelle continue</li>
                        <li>Etudes de marché</li>
                        <li>Etudes de projets</li>
                    </ul>

                </div>
                <div class="span6">

                    <div class="group section-wrap upper" id="upper">
                        <div class="section-2 group">
                            <ul id="images" class="rs-slider">
                                <li class="group">
                                    <a href="#">
                                        <img src="/img/slides/refine/slide1.png" alt="" />
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="#" class="slide-parent">
                                        <img src="/img/slides/refine/slide2.png" alt="" />
                                    </a>
                                </li>
                                <li class="group">
                                    <img src="/img/slides/refine/slide3.png" alt="" />
                                </li>
                            </ul>
                        </div>
                        <!-- /.section-2 -->
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="features">
                        <div class="icon">
                            <i class="icon-bg-light icon-circled icon-code icon-5x active"></i>
                        </div>
                        <div class="features_content">
                            <h3>Informatique</h3>
                            <p class="left">
                                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has,
                                petentium
                                imperdiet in pri mel virtute nam.
                            </p>
                            <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="features">
                        <div class="icon">
                            <i class="icon-bg-dark icon-circled icon-eur icon-5x"></i>
                        </div>
                        <div class="features_content">
                            <h3>Finance</h3>
                            <p class="left">
                                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has,
                                petentium
                                imperdiet in pri mel virtute nam.
                            </p>
                            <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="features">
                        <div class="icon">
                            <i class="icon-bg-dark icon-circled icon-suitcase icon-5x"></i>
                        </div>
                        <div class="features_content">
                            <h3>Commerce</h3>
                            <p class="left">
                                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has,
                                petentium
                                imperdiet in pri mel virtute nam.
                            </p>
                            <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- blank divider -->
            <!-- <div class="row">
        <div class="span12">
          <div class="blank10"></div>
        </div>
      </div> -->

            <!-- <div class="row">
        <div class="span12">
          <div class="cta-box">
            <div class="cta-text">
              <h2>Put special offer in standout call to action area here</h2>
            </div>
            <div class="cta">
              <a class="btn btn-large btn-rounded btn-color" href="#">
                <i class="icon-chevron-right"></i> Call action</a>
            </div>
          </div> -->
            <!-- end tagline -->
            <!-- </div>
      </div> -->

            <div class="row">
                <div class="span6">
                    <h4>Ce que les gens pensent de nous</h4>
                    <div class="testmonial_slider">
                        <ul class="slides">
                            <li>
                                <div class="testimonial_item">
                                    <p>
                                        Formation au top, j'ai pu augmenter mon chiffre d'affaire dans ma petite
                                        entreprise du quartier.
                                    </p>
                                    <span class="author">Dialo Monika</span>
                                    <span class="occupation">Commercante</span>
                                    <!-- end testmonial -->
                                </div>
                            </li>
                            <li>
                                <div class="testimonial_item">
                                    <p>
                                        Les conseils du Dr Saah en informatique m'ont ouvert l'esprit à de nouvelle
                                        possibilité.
                                    </p>
                                    <span class="author">Sekouba Bambino</span>
                                    <span class="occupation">Ingenieur</span>
                                    <!-- end testmonial -->
                                </div>
                            </li>
                            <li>
                                <div class="testimonial_item">
                                    <p>
                                        J'ai suivie les formations en commerce et finance et je le recommande à tout
                                        ceux qui aimerait
                                        savoir comment gerer leur argent.
                                    </p>
                                    <span class="author">Roro Legend</span>
                                    <span class="occupation">Economiste</span>
                                    <!-- end testmonial -->
                                </div>
                            </li>
                        </ul>
                        <!-- end testmonial slider -->
                    </div>
                    <div class="blank"></div>

                    <h4>Our satisfied clients</h4>
                    <ul class="clients">
                        <li>
                            <a href="#">
                                <img src="/img/dummies/clients/client1.png" class="client-logo" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/dummies/clients/client2.png" class="client-logo" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/dummies/clients/client3.png" class="client-logo" alt="" />
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="span6">
                    <h4>Our services</h4>
                    <!-- start: Accordion -->
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2"
                                    href="#collapseOne">
                                    <i class="icon-caret-down"></i> Formation qualifiante </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    Les formations qualifiantes ont une visée professionnelle : elles peuvent déboucher
                                    sur l'obtention
                                    d'un titre professionnel, d'un diplôme, ou tout simplement être reconnues par
                                    l'employeur pour
                                    l'acquisition d'une nouvelle compétence (notamment si la convention collective le
                                    prévoit).
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                    href="#collapseTwo">
                                    <i class="icon-caret-right"></i> Assistance & suivie </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    L'assistance désigne l'action de porter aide ou secours. C'est l'aide, l'appui ou le
                                    secours organisés
                                    en toutes matières, et peut désigner ou qualifier une institution ou un organisme.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                    href="#collapseThree">

                                    <i class="icon-caret-right"></i> Strategie financière </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    La stratégie financière correspond à un ensemble de processus permettant d'arriver à
                                    un objectif
                                    financier pour une entité donnée dans un horizon de moyen ou long terme.

                                    Les leviers utilisés sont essentiellement les ressources allouées, les moyens et les
                                    actions.

                                    La stratégie financière est déterminée par le management, la direction financière,
                                    un cabinet d'audit,
                                    une société de conseil, un expert-comptable, etc.

                                    La construction d'une stratégie financière nécessite, au préalable, un diagnostic
                                    sur les finances de
                                    la structure en considérant son écosystème intérieur et extérieur.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Accordion -->
                </div>
            </div>



        </div>
    </section>
    <!-- Footer
 ================================================== -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="widget">
                        <!-- logo -->
                        <div class="footerlogo">
                            <h6><a href="index.html">Triangle</a></h6>
                            <!-- <img src="/img/logo.png" alt="" /> -->
                        </div>
                        <!-- end logo -->
                        <address>
                            <strong>Triangle Advices, Corp.</strong><br>
                            Abidjan, Plateau, Rue business A10<br>
                            CA 94107<br>
                            <abbr title="Phone">P:</abbr> (+225) 45-67-89-00 </address>
                    </div>
                </div>
                <div class="span3">
                    <div class="widget">
                        <h5>Browse pages</h5>
                        <ul class="list list-ok">
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Tamquam ponderum at eum, nibh dicta offendit mei</a></li>
                            <li><a href="#">Vix no vidisse dolores intellegam</a></li>
                            <li><a href="#">Est virtute feugiat accommodare eu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span3">
                    <div class="widget">
                        <h5>Flickr photostream</h5>
                        <div class="flickr_badge">
                            <script type="text/javascript"
                                src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03">
                                </script>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="span3">
                    <div class="widget">
                        <h5>Keep updated</h5>
                        <p>
                            Enter your email to subcribe newsletter
                        </p>
                        <form>
                            <div class="input-append">
                                <input class="span2" id="appendedInputButton" type="text">
                                <button class="btn btn-color" type="submit">Subscribe</button>
                            </div>
                        </form>
                        <ul class="social-network">
                            <li><a href="#"><i class="icon-bg-light icon-facebook icon-circled icon-1x"></i></a></li>
                            <li><a href="#" title="Twitter"><i
                                        class="icon-bg-light icon-twitter icon-circled icon-1x"></i></a></li>
                            <li><a href="#" title="Linkedin"><i
                                        class="icon-bg-light icon-linkedin icon-circled icon-1x"></i></a></li>
                            <li><a href="#" title="Pinterest"><i
                                        class="icon-bg-light icon-pinterest icon-circled icon-1x"></i></a>
                            </li>
                            <li><a href="#" title="Google plus"><i
                                        class="icon-bg-light icon-google-plus icon-circled icon-1x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/portfolio/jquery.quicksand.js"></script>
    <script src="/js/portfolio/setting.js"></script>
    <script src="/js/hover/jquery-hover-effect.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.min.js"></script>
    <script src="/js/jquery.refineslide.js"></script>
    <script src="/js/jquery.ui.totop.js"></script>

    <!-- Template Custom Javascript File -->
    <script src="/js/custom.js"></script>

</body>

</html>