<form class="form-horizontal" action="/sendsubform" method="POST">
    <div class="control-group">
        <label class="control-label" for="inputName">Nom</label>
        <div class="controls">
            <input type="text" id="inputName" name="nuser" placeholder="Nom">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputSurname">Prenom</label>
        <div class="controls">
            <input type="text" id="inputSurname" name="puser" placeholder="Prenom">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            <input type="text" id="inputEmail" name="mailuser" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputTel">Téléphone</label>
        <div class="controls">
            <input type="text" id="inpuTel" name="teluser" placeholder="Numéro de téléphone">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCourse">Formation</label>
        <div class="controls">
            <select name="course">
                {{#each optData}}
                <option>{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Valider</button>
        </div>
    </div>
</form>