<div class="form-container">

    <form class="form-horizontal" action="/sendsubform" method="POST">
        <div class="control-group">
            <label class="control-label" for="inputName"></label>
            <div class="controls">
                <input type="text" id="inputName" name="nuser" placeholder="Nom">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSurname"></label>
            <div class="controls">
                <input type="text" id="inputSurname" name="puser" placeholder="Prenom">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail"></label>
            <div class="controls">
                <input type="text" id="inputEmail" name="mailuser" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTel"></label>
            <div class="controls">
                <input type="text" id="inpuTel" name="teluser" placeholder="Numéro de téléphone">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCourse"></label>
            <div class="controls">
                <select name="course">
                    {{#each optData}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls" style="margin : 0; text-align:center;">
                <button type="submit" style="width: 150px;" class="btn">Valider</button>
            </div>
        </div>
    </form>

</div>